@import 'variable.scss';
.about {
    background-image: url("../img/brasil.gif");
    background-position: center;
    background-size: 110vw 90vh;
    clear: both;
    top: 100vh;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: table;
}


.monkIcon, .trophyIcon, .cardIcon{
    color: white;
       text-shadow: -1px 0 #FFD700, 0 1px #FFD700, 1px 0 #FFD700, 0 -1px #FFD700;
}

.aboutwords {
    margin-top: 15vh;
    margin-left: 19vw;
    font-family: 'VT323', serif;
    /* color: rgb(117,28,29);*/
    color: rgb(0, 0, 0);
    z-index: 101;
    position: absolute;
}

.trophy {
    height: 40px !important;
}

.monk {
    height: 40px !important;
    opacity: 0;
    transition: visibility 0s, opacity 1s linear;
}

.trophy {
    height: 40px !important;
    opacity: 0;
}

.cards {
    height: 40px !important;
    opacity: 0;
    margin-left:-15px;
     transition: margin-left .3s linear;
}

.afterCards {
    margin-left:15px;
    opacity: 1;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, -1px, 0);
    }
    20%,
    80% {
        transform: translate3d(1px, 2px, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-2px, 4px, 0);
    }
    40%,
    60% {
        transform: translate3d(2px, 4px, 0);
    }
}

.shaking {
    opacity: 1;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97)
}

.appear {
    opacity: 1;
}

.color-aboutColor {
    border-color: #38c9f4 !important;
}

.coverAbout {
    overflow-y: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    border-top: 50vh solid;
    border-bottom: 50vh solid;
    border-right: 50vw solid;
    border-left: 50vw solid;
    background-color: transparent;
}

.aboutPortal {
    background: transparent;
    width: 50vw;
    height: 78.1vh;
}

.startGrowAbout {
    border-top: 21vh solid;
    border-bottom: 21vh solid;
    border-right: 0vw solid;
    border-left: 0vw solid;
    /* Safari and Chrome */
}

.about-it {
    font-family: 'VT323', serif !important;
    font-weight: bolder;
    width: 40vw;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    h1 {
        font-size: 18px !important;
    }
    h2 {
        font-size: 14px !important;
    }
    h3 {
        font-size: 12px !important;
    }
    .about-it {
        font-size: 12pt !important;
        width: 60vw;
    }
    .aboutwords {
        font-size: 2pt !important;
        margin-top: 25vh;
        margin-left: 19vw;
        font-family: 'VT323', serif;
        z-index: 101;
        position: absolute;
    }
}
