@import 'variable.scss';

.contact{
 
    clear:both;
    top:100vh;
    height:100vh;
    width:100vw;
    position: relative;
    display: table;
}
.contactwords{
    margin-top:27.5vh;
    margin-left: 19vw;
    font-family: 'VT323', serif;
    color: white;
    z-index: 101;
    position: absolute;

}

.imageCircle {
    height: 10vh;
    border-radius: 50%;
    margin-bottom:-1vh;
}

.color-contactColor{
       border-color: #38c9f4 !important;
}

.covercontact {
    overflow-y: none;
    position: absolute;
    height:100vh;
    width: 100vw;
    border-top: 51vh solid ;
    border-bottom: 50vh solid ;
    border-right: 50vw solid ;
    border-left: 50vw solid ;
    background-color: transparent;

}

.contactPortal {
    background: transparent;
    width: 50vw;
    height: 20vh;
}

.startGrowcontact {
    
    border-right: 45vw solid ;
    border-left: 45vw solid ;
   
    /* Safari and Chrome */
 
}


