html,
body {
  font-family: 'Lato', sans-serif;
  background-color: #FFF;
}

#main-wrapper {
  width: 100%;
}


.top-bar {
  height: 2em;
  width:90%;
  margin:auto;
}

ul.top-bar-buttons-right li {
  display: inline;
  width: auto;
  margin-left: 1em;
  float: right;

}
li a {
  text-decoration: none !important;
}

.top-bar-icon-left {
  display: inline;
  float: left;
}