html,
body {
  font-family: 'Lato', sans-serif;
  background-color: #ECEDED;
}

.top-bar{
  width:100%;
  border:1px solid blue;
  height:2em;
}

ul.top-bar-buttons-right li{
  display:inline;
  width:auto;
  margin-left:1em;
  float:right;
}