.menu {
    overflow: none;
    display: table;
    color: grey;
    left: 0vw;
    top: 26.1vh;
    height: 48vh;
    width: 17vw;
    z-index: 200;
    position: fixed;
    -webkit-transition-duration: .5s;
    -webkit-backface-visibility: hidden;
}

.menu:hover {
    cursor: pointer;
    color: white;
    font-weight: bolder;
    -webkit-transition-duration: .5s;
    -webkit-backface-visibility: hidden;
}

.menuBurger {
    position: absolute;
    padding-top: 20vh;
    padding-left: 5vw;
    z-index: 300;
    color: grey;
    display: table-cell;
    -webkit-transition-duration: .5s;
    -webkit-backface-visibility: hidden;
}

.menuBurger:hover {
    color: white;
}

.menuPane {
    float: left;
    width: 100%;
    font-family: 'VT323', serif;
    font-size: 20pt;
    margin-top: 5.5vh;
    margin-left: -15vw;
    color: black;
    -webkit-transition-duration: .5s;
    -webkit-backface-visibility: hidden;
}


.menuList{
	padding-left:3px;
}

a {
    color: black !important;
}

ul:hover,
a:hover {
    cursor: pointer;
    font-weight: bold;
}

;
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .menuList {
        padding: 0;
    }
    .menuPane {
        float: left;
        width: 100%;
        font-family: 'VT323', serif;
        font-size: 10pt;
        margin-top: 13vh;
        color: black;
        margin-left: -35vw;
        -webkit-transition-duration: .5s;
    -webkit-backface-visibility: hidden;
    }
}
