.section2 {
  background-image: url("../img/section2BG.png");
  background-repeat: no-repeat;
  background-size: 110% 90%;
  background-position: top;
  width: 100vw;
  height: 80vw;
  overflow:hidden;
}

.section2-text-box-left {
  border: 1px solid red;
  display: inline-block;
  color: #32526E;
  font-size: 1.3em;
  text-align: center;
  margin-top: 10vh;
  margin-left: 10vh;
  height: 20vw;
  width: 30vw;
}

.section2-text-box-right {
  border: 1px solid blue;
  display: inline-block;
  color: #32526E;
  font-size: 1.3em;
  text-align: center;
  margin-top: 10vh;
  margin-left: 25vw;
  height: 20vw;
  width: 30vw;
}

.section2-partners,
.section2-press {
  margin-top: 5vh;
  height: 20vh;
}

.section2-user-review-wrapper {
  overflow-y:auto;
  border: 4px solid white;
  margin: auto;
  margin-top: 10vw;
  vertical-align: middle;
  height: 15vw;
  width: 70vw;
}

.section2-user-review-previous {
  float: left;
}

.section2-user-review-next {
  float: right;
}

.section2-user-review-buttons {
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
  /* Firefox */

  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */

  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  /* W3C */

  display:box;
  box-pack:center;
  box-align:center;

  color: white;

  // margin: auto;
vertical-align: middle;
  height:99%;
  border: 1px solid red;
  font-weight: 100;
  font-size: 3.5em;
}

.section2-user-reviews {
  display:table;
  text-align: center;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.section2-user-review-text-scroll{
  overflow-y: auto;
}
.section2-user-review-text {
  margin: auto;
  vertical-align: middle;
  color: #32526E;
  display: inline-block;
  width: 30vw;
  margin-top:2vw;
}