video {
    position: relative;
    border: 8px solid black;
    float: top;
    min-height: 150px;
    min-width: 150px;
    width: 50%;
    height: 50%
}

#stackStore {
    position: relative;
}

#stackStoreMessage {
    transition: 1s;
    display: none;
    position: absolute;
     width: 48.9%;
    height: 23.3vw;
    background-color: rgb(0, 0, 0);
    z-index: 300;
    top: .4vw;
    left: .4vw;
    text-align: center;
}

#stackStoreMessage * {
    padding: 0.4em;
    margin: 0
}

#stackStoreMessage {
    font-family: 'VT323', sans-serif;
    color: grey;
    z-index: 99
}

#stackStoreMessage h1 {
    font-size: 3vw;
    text-align: center;
}

#stackStoreMessage h2 {
    font-size: 2vw;
    text-align: center;
}

#stackStoreMessage h3 {
    font-size: 1.5vw;
    text-align: center;
}

#refinery {
    position: relative;
}

#refineryMessage {
    background-color: rgb(21,207,160);
    z-index: 300;
    transition: 1s;
    display: none;
    width: 48.9%;
    height: 23.3vw;
    position: absolute;
    top: .4vw;
    left: 42.4vw;
    text-align: center;
}

#refineryMessage * {
    padding: 0.4em;
    margin: 0
}

#refineryMessage {
    font-family: 'VT323', sans-serif;
    color: black;
    z-index: 99
}

#refineryMessage h1 {
    font-size: 3vw;
    text-align: center;
}

#refineryMessage h2 {
    font-size: 2vw;
    text-align: center;
}

#refineryMessage h3 {
    font-size: 1.5vw;
    text-align: center;
}

#NYG {
    position: relative;
}

#NYGMessage {
    background-color: rgb(69,195,254);
    z-index: 300;
    transition: 1s;
    display: none;
     width: 48.9%;
    height: 23.3vw;
    position: absolute;
    top: 24.5vw;
    left: 0.4vw;
}

#NYGMessage * {
    padding: 0.4em;
    margin: 0
}

#NYGMessage {
    font-family: 'VT323', sans-serif;
    color: white;
    z-index: 99
}

#NYGMessage h1 {
    font-size: 3vw;
    text-align: center;
}

#NYGMessage h2 {
    font-size: 2vw;
    text-align: center;
}

#NYGMessage h3 {
    font-size: 1.5vw;
    text-align: center;
}

#weather {
    position: relative;
}

#weatherMessage {
    background-color: rgb(2,31,134);
    z-index: 300;
    transition: 1s;
    display: none;
      width: 48.9%;
    height: 23.3vw;
    position: absolute;
    top: 24.5vw;
    left: 42.4vw;
}

#weatherMessage * {
    padding: 0.4em;
    margin: 0
}

#weatherMessage {
    font-family: 'VT323', sans-serif;
    color: white;
       text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
    z-index: 99
}

#weatherMessage h1 {
    font-size: 3vw;
    text-align: center;
}

#weatherMessage h2 {
    font-size: 2vw;
    text-align: center;
}

#weatherMessage h3 {
    font-size: 1.5vw;
    text-align: center;
}

#quote {
    position: relative;
}

#quoteMessage {
    background-color: rgb(54,158,251);
    z-index: 300;
    transition: 1s;
    display: none;
      width: 49.2%;
    height: 23.5vw;
    position: absolute;
    top: 48.2vw;
    left: 0.4vw;
}

#quoteMessage * {
    padding: 0.4em;
    margin: 0
}

#quoteMessage {
    font-family: 'VT323', sans-serif;
    color: white;
    z-index: 99
}

#quoteMessage h1 {
    font-size: 3vw;
    text-align: center;
}

#quoteMessage h2 {
    font-size: 2vw;
    text-align: center;
}

#quoteMessage h3 {
    font-size: 1.5vw;
    text-align: center;
}

#battle {
    position: relative;
}

#battleMessage {
    background-color: rgb(255,255,255);
    z-index: 300;
    transition: 1s;
    display: none;
      width: 48.9%;
    height: 23.3vw;
    position: absolute;
    top: 48.5vw;
    left: 42.5vw;
}

#battleMessage * {
    padding: 0.4em;
    margin: 0
}

#battleMessage {
    font-family: 'VT323', sans-serif;
    color: grey;
    z-index: 99
}

#battleMessage h1 {
    font-size: 3vw;
    text-align: center;
}

#battleMessage h2 {
    font-size: 2vw;
    text-align: center;
}

#battleMessage h3 {
    font-size: 1.5vw;
    text-align: center;
}

#video {
    float: left;
}

@media screen and (min-width:769px) and (max-width: 992px) {
    #video {
        float: left;
    }
    video {
        float: top;
        margin-bottom: -5px;
        min-height: 150px;
        min-width: 150px;
        width: 100%;
        height: 33%
    }
}

@media screen and (max-width: 768px) {
    #video {
        float: left;
    }
    .portfolioPortal {
        overflow-y: auto;
        margin-left: -33vw;
        margin-top: 15vh;
        position: relative;
        background: transparent;
        width: 66vw;
        height: 48.1vh;
    }
    video {
        float: top;
        margin-bottom: -5px;
        min-height: 150px;
        min-width: 150px;
        width: 100%;
        height: 33%
    }
}
