.color-landing {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-about {
  transition: border-color 1s ease;
  border-color: #38c9f4 !important; }

/*
//#38c9f4
*/
.color-skills {
  transition: border-color 1s ease;
  border-color: #929192 !important; }

.color-contact {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-portfolio {
  transition: border-color 1s ease;
  border-color: white !important; }

.line-portfolio {
  border-color: red !important; }

.line-skills {
  border-color: rgba(143, 200, 78, 0.3) !important; }

.line-cover {
  border-color: rgba(255, 255, 255, 0.3) !important; }

.line-about {
  border-color: rgba(255, 0, 0, 0.3) !important; }

.line-contact {
  border-color: rgba(255, 255, 255, 0.8) !important; }

.about {
  background-image: url("../img/brasil.gif");
  background-position: center;
  background-size: 110vw 90vh;
  clear: both;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: table; }

.monkIcon, .trophyIcon, .cardIcon {
  color: #800000 !important; }

.aboutwords {
  margin-top: 15vh;
  margin-left: 19vw;
  font-family: 'VT323', serif;
  /* color: rgb(117,28,29);*/
  color: black;
  z-index: 101;
  position: absolute; }

.trophy {
  height: 40px !important; }

.monk {
  height: 40px !important;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear; }

.trophy {
  height: 40px !important;
  opacity: 0; }

.cards {
  height: 40px !important;
  opacity: 0;
  margin-left: -15px;
  transition: margin-left .3s linear; }

.afterCards {
  margin-left: 15px;
  opacity: 1; }

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -1px, 0); }
  20%,
  80% {
    transform: translate3d(1px, 2px, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-2px, 4px, 0); }
  40%,
  60% {
    transform: translate3d(2px, 4px, 0); } }

.shaking {
  opacity: 1;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97); }

.appear {
  opacity: 1; }

.color-aboutColor {
  border-color: #38c9f4 !important; }

.coverAbout {
  overflow-y: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-top: 50vh solid;
  border-bottom: 50vh solid;
  border-right: 50vw solid;
  border-left: 50vw solid;
  background-color: transparent; }

.aboutPortal {
  background: transparent;
  width: 50vw;
  height: 78.1vh; }

.startGrowAbout {
  border-top: 21vh solid;
  border-bottom: 21vh solid;
  border-right: 0vw solid;
  border-left: 0vw solid;
  /* Safari and Chrome */ }

.about-it {
  font-family: 'VT323', serif !important;
  font-weight: bolder;
  width: 40vw; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  h1 {
    font-size: 18px !important; }
  h2 {
    font-size: 14px !important; }
  h3 {
    font-size: 12px !important; }
  .about-it {
    font-size: 12pt !important;
    width: 60vw; }
  .aboutwords {
    font-size: 2pt !important;
    margin-top: 25vh;
    margin-left: 19vw;
    font-family: 'VT323', serif;
    z-index: 101;
    position: absolute; } }

.color-landing {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-about {
  transition: border-color 1s ease;
  border-color: #38c9f4 !important; }

/*
//#38c9f4
*/
.color-skills {
  transition: border-color 1s ease;
  border-color: #929192 !important; }

.color-contact {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-portfolio {
  transition: border-color 1s ease;
  border-color: white !important; }

.line-portfolio {
  border-color: red !important; }

.line-skills {
  border-color: rgba(143, 200, 78, 0.3) !important; }

.line-cover {
  border-color: rgba(255, 255, 255, 0.3) !important; }

.line-about {
  border-color: rgba(255, 0, 0, 0.3) !important; }

.line-contact {
  border-color: rgba(255, 255, 255, 0.8) !important; }

.contact {
  clear: both;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: table; }

.contactwords {
  margin-top: 27.5vh;
  margin-left: 19vw;
  font-family: 'VT323', serif;
  color: white;
  z-index: 101;
  position: absolute; }

.imageCircle {
  height: 10vh;
  border-radius: 50%;
  margin-bottom: -1vh; }

.color-contactColor {
  border-color: #38c9f4 !important; }

.covercontact {
  overflow-y: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-top: 51vh solid;
  border-bottom: 50vh solid;
  border-right: 50vw solid;
  border-left: 50vw solid;
  background-color: transparent; }

.contactPortal {
  background: transparent;
  width: 50vw;
  height: 20vh; }

.startGrowcontact {
  border-right: 45vw solid;
  border-left: 45vw solid;
  /* Safari and Chrome */ }

.menu {
  overflow: none;
  display: table;
  color: grey;
  left: 0vw;
  top: 26.1vh;
  height: 48vh;
  width: 17vw;
  z-index: 200;
  position: fixed;
  -webkit-transition-duration: .5s;
  -webkit-backface-visibility: hidden; }

.menu:hover {
  cursor: pointer;
  color: white;
  font-weight: bolder;
  -webkit-transition-duration: .5s;
  -webkit-backface-visibility: hidden; }

.menuBurger {
  position: absolute;
  padding-top: 20vh;
  padding-left: 5vw;
  z-index: 300;
  color: grey;
  display: table-cell;
  -webkit-transition-duration: .5s;
  -webkit-backface-visibility: hidden; }

.menuBurger:hover {
  color: white; }

.menuPane {
  float: left;
  width: 100%;
  font-family: 'VT323', serif;
  font-size: 20pt;
  margin-top: 5.5vh;
  margin-left: -15vw;
  color: black;
  -webkit-transition-duration: .5s;
  -webkit-backface-visibility: hidden; }

.menuList {
  padding-left: 3px; }

a {
  color: black !important; }

ul:hover,
a:hover {
  cursor: pointer;
  font-weight: bold; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .menuList {
    padding: 0; }
  .menuPane {
    float: left;
    width: 100%;
    font-family: 'VT323', serif;
    font-size: 10pt;
    margin-top: 13vh;
    color: black;
    margin-left: -35vw;
    -webkit-transition-duration: .5s;
    -webkit-backface-visibility: hidden; } }

.color-landing {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-about {
  transition: border-color 1s ease;
  border-color: #38c9f4 !important; }

/*
//#38c9f4
*/
.color-skills {
  transition: border-color 1s ease;
  border-color: #929192 !important; }

.color-contact {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-portfolio {
  transition: border-color 1s ease;
  border-color: white !important; }

.line-portfolio {
  border-color: red !important; }

.line-skills {
  border-color: rgba(143, 200, 78, 0.3) !important; }

.line-cover {
  border-color: rgba(255, 255, 255, 0.3) !important; }

.line-about {
  border-color: rgba(255, 0, 0, 0.3) !important; }

.line-contact {
  border-color: rgba(255, 255, 255, 0.8) !important; }

.portfolio {
  overflow: auto;
  background-color: transparent;
  clear: both;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: table; }

.no-pad {
  height: 100%; }

.portfolioWords {
  margin-top: -10vh;
  font-family: 'VT323', serif;
  color: black;
  z-index: 101; }

.coverportfolio {
  height: 100%;
  width: 100vw;
  border-top: 11vh solid #1f1f1f;
  border-bottom: 11vh solid #1f1f1f;
  border-right: 50vw solid #1f1f1f;
  border-left: 50vw solid #1f1f1f;
  background-color: transparent; }

.portfolioPortal {
  overflow: none;
  margin-top: -11vh;
  margin-left: -41.7vw;
  background: transparent;
  width: 84vw;
  height: 100vh; }

.startGrowportfolio {
  border-right: 7.5vw solid #1f1f1f;
  border-left: 7.5vw solid #1f1f1f;
  /* Safari and Chrome */ }

.portline1 {
  margin-left: -25vw;
  transition: 1s; }

.portline2 {
  margin-right: -25vw;
  transition: 1s; }

.portline4 {
  margin-top: -15vh;
  transition: 1s; }

.portline3 {
  margin-top: 5vh;
  transition: 1s; }

.color-landing {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-about {
  transition: border-color 1s ease;
  border-color: #38c9f4 !important; }

/*
//#38c9f4
*/
.color-skills {
  transition: border-color 1s ease;
  border-color: #929192 !important; }

.color-contact {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-portfolio {
  transition: border-color 1s ease;
  border-color: white !important; }

.line-portfolio {
  border-color: red !important; }

.line-skills {
  border-color: rgba(143, 200, 78, 0.3) !important; }

.line-cover {
  border-color: rgba(255, 255, 255, 0.3) !important; }

.line-about {
  border-color: rgba(255, 0, 0, 0.3) !important; }

.line-contact {
  border-color: rgba(255, 255, 255, 0.8) !important; }

.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out; }

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px); }
  65% {
    -webkit-transform: translate(0, 15px); }
  to {
    -webkit-transform: translate(0, 0px); } }

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px); }
  65% {
    -moz-transform: translate(0, 15px); }
  to {
    -moz-transform: translate(0, 0px); } }

.Jquery {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/jquery.png");
  background-size: contain;
  background-repeat: no-repeat; }

.Gulp {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/gulp.png");
  background-size: contain;
  background-repeat: no-repeat; }

.Sass {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/sass.png");
  background-size: contain;
  background-repeat: no-repeat; }

.Aws {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/aws.png");
  background-size: contain;
  background-repeat: no-repeat; }

.Bootstrap {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/bootstrap.png");
  background-size: contain;
  background-repeat: no-repeat; }

.Node {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/node.png");
  background-size: contain;
  background-repeat: no-repeat; }

.Javascript {
  position: relative;
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/js.png");
  background-size: contain;
  background-repeat: no-repeat; }

.Angular {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/angular.png");
  background-size: contain;
  background-repeat: no-repeat; }

.React {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/react.png");
  background-size: contain;
  background-repeat: no-repeat; }

.GitHub {
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/github.png");
  background-size: contain;
  background-repeat: no-repeat; }

.HTML {
  position: relative;
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/html.png");
  background-size: contain;
  background-repeat: no-repeat; }

.CSS {
  position: relative;
  margin-top: 3vh;
  height: 17vh;
  width: 10vw;
  background-image: url("../img/css3.png");
  background-size: contain;
  background-repeat: no-repeat; }

.skills {
  overflow: none;
  background-image: url("../img/training.png");
  background-size: 104vw 100vh;
  clear: both;
  top: 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: table; }

.skillswords {
  margin-top: 2vh;
  margin-left: 17vw;
  width: 70vw;
  font-size: 10pt !important;
  font-family: 'VT323', serif;
  color: white;
  z-index: 101;
  position: absolute; }

.coverskills {
  overflow: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-top: 50vh solid #1f1f1f;
  border-bottom: 50vh solid #1f1f1f;
  border-right: 50vw solid #1f1f1f;
  border-left: 50vw solid #1f1f1f;
  background-color: transparent; }

.skillset1 {
  float: left;
  margin-right: 5vw; }

.skillset2 {
  margin-right: 5vw;
  float: left; }

.skillset3 {
  margin-right: 5vw;
  float: left; }

.skillset4 {
  float: right;
  margin-right: 2vw;
  float: left; }

.skillsPortal {
  position: absolute;
  display: none;
  visibility: hidden;
  margin-top: 7vh;
  margin-left: 16vw;
  background: transparent;
  /*  width: 60vw;
    height: 78.1vh;*/
  opacity: 0;
  transition: visibility 0s, opacity 1s linear; }

.startGrowskills {
  border-top: 11vh solid #1f1f1f;
  border-bottom: 11vh solid #1f1f1f;
  border-right: 7.5vw solid #1f1f1f;
  border-left: 7.5vw solid #1f1f1f;
  /* Safari and Chrome */ }

/*
 * Adding the animation to our element
*/
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce; }

@media screen and (min-width: 769px) and (max-width: 992px) {
  .skillsPortal {
    margin-left: 13vw;
    background: transparent;
    width: 100vw;
    height: 78.1vh; } }

@media only screen and (min-device-width: 376px) and (max-device-width: 667px) {
  .skillsPortal {
    margin-left: 16.5vw !important;
    background: transparent;
    width: 60vw;
    height: 78.1vh; } }

.color-landing {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-about {
  transition: border-color 1s ease;
  border-color: #38c9f4 !important; }

/*
//#38c9f4
*/
.color-skills {
  transition: border-color 1s ease;
  border-color: #929192 !important; }

.color-contact {
  transition: border-color 1s ease;
  border-color: #1f1f1f !important; }

.color-portfolio {
  transition: border-color 1s ease;
  border-color: white !important; }

.line-portfolio {
  border-color: red !important; }

.line-skills {
  border-color: rgba(143, 200, 78, 0.3) !important; }

.line-cover {
  border-color: rgba(255, 255, 255, 0.3) !important; }

.line-about {
  border-color: rgba(255, 0, 0, 0.3) !important; }

.line-contact {
  border-color: rgba(255, 255, 255, 0.8) !important; }

.line1 {
  z-index: 300;
  position: fixed;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  width: 1px;
  height: 100vh;
  left: 17vw;
  top: 100vh; }

.linevert1 {
  top: 0vh;
  transition: 2s; }

.line2 {
  z-index: 200;
  position: fixed;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  width: 1px;
  height: 100vh;
  right: 17vw;
  bottom: 100vh; }

.linevert2 {
  bottom: 0vh;
  transition: 2s; }

.line3 {
  z-index: 200;
  position: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 1px;
  top: 74vh;
  left: 100vw; }

.linevert3 {
  left: 0vh;
  transition: 2s; }

.line4 {
  z-index: 200;
  position: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  top: 26vh;
  right: 100vw; }

.linevert4 {
  right: 0vh;
  transition: 2s; }

/*
//END OF LINE ART
*/
.overlay {
  position: relative;
  display: table; }

.landing {
  position: absolute;
  z-index: 99;
  display: block;
  background-image: url("../img/background.gif");
  background-repeat: no-repeat;
  background-size: 110vw 105vh;
  height: 100vh;
  width: 100vw; }

.coverWindow {
  overflow-y: none;
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  border-top: 11vh solid;
  border-bottom: 11vh solid;
  border-right: 51vw solid;
  border-left: 50vw solid;
  background-color: transparent; }

.portal {
  background: transparent;
  width: 50vw;
  height: 78.1vh; }

.startGrow {
  border-right: 8vw solid;
  border-left: 8vw solid;
  /* Safari and Chrome */ }

.transition15 {
  -webkit-transition-duration: 2s;
  -webkit-transition-delay: 2s;
  transition: 2s; }

.transition10 {
  -webkit-transition-duration: 3s;
  -webkit-transition-delay: 3s;
  transition: 3s; }

.words {
  width: 55vw;
  margin-top: 48vh;
  margin-left: 20vw;
  font-size: 24pt !important;
  font-family: 'Josefin Slab', serif;
  color: white;
  z-index: 101;
  position: absolute; }

.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.no-pad {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.name {
  height: 20px;
  color: black;
  text-align: center;
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

@media screen and (min-width: 769px) and (max-width: 992px) {
  .startGrow {
    border-right: 10vw solid black;
    border-left: 10vw solid black;
    /* Safari and Chrome */ } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .coverWindow {
    overflow-y: none;
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    border-top: 30vh solid;
    border-bottom: 30vh solid;
    border-right: 51vw solid;
    border-left: 50vw solid;
    background-color: transparent; }
  .words {
    width: 55vw;
    margin-top: 45vh;
    margin-left: 20vw;
    font-size: 14pt !important;
    font-family: 'Josefin Slab', serif;
    color: white;
    z-index: 101;
    position: absolute; }
  .portal {
    width: 50vw; }
  .startGrow {
    border-top: 30vh solid black;
    border-bottom: 30vh solid black;
    border-right: 5vw solid black;
    border-left: 5vw solid black;
    /* Safari and Chrome */ } }

video {
  position: relative;
  border: 8px solid black;
  float: top;
  min-height: 150px;
  min-width: 150px;
  width: 50%;
  height: 50%; }

#stackStore {
  position: relative; }

#stackStoreMessage {
  transition: 1s;
  display: none;
  position: absolute;
  width: 48.9%;
  height: 23.3vw;
  background-color: black;
  z-index: 300;
  top: .4vw;
  left: .4vw;
  text-align: center; }

#stackStoreMessage * {
  padding: 0.4em;
  margin: 0; }

#stackStoreMessage {
  font-family: 'VT323', sans-serif;
  color: grey;
  z-index: 99; }

#stackStoreMessage h1 {
  font-size: 3vw;
  text-align: center; }

#stackStoreMessage h2 {
  font-size: 2vw;
  text-align: center; }

#stackStoreMessage h3 {
  font-size: 1.5vw;
  text-align: center; }

#refinery {
  position: relative; }

#refineryMessage {
  background-color: #15cfa0;
  z-index: 300;
  transition: 1s;
  display: none;
  width: 48.9%;
  height: 23.3vw;
  position: absolute;
  top: .4vw;
  left: 42.4vw;
  text-align: center; }

#refineryMessage * {
  padding: 0.4em;
  margin: 0; }

#refineryMessage {
  font-family: 'VT323', sans-serif;
  color: black;
  z-index: 99; }

#refineryMessage h1 {
  font-size: 3vw;
  text-align: center; }

#refineryMessage h2 {
  font-size: 2vw;
  text-align: center; }

#refineryMessage h3 {
  font-size: 1.5vw;
  text-align: center; }

#NYG {
  position: relative; }

#NYGMessage {
  background-color: #45c3fe;
  z-index: 300;
  transition: 1s;
  display: none;
  width: 48.9%;
  height: 23.3vw;
  position: absolute;
  top: 24.5vw;
  left: 0.4vw; }

#NYGMessage * {
  padding: 0.4em;
  margin: 0; }

#NYGMessage {
  font-family: 'VT323', sans-serif;
  color: white;
  z-index: 99; }

#NYGMessage h1 {
  font-size: 3vw;
  text-align: center; }

#NYGMessage h2 {
  font-size: 2vw;
  text-align: center; }

#NYGMessage h3 {
  font-size: 1.5vw;
  text-align: center; }

#weather {
  position: relative; }

#weatherMessage {
  background-color: #021f86;
  z-index: 300;
  transition: 1s;
  display: none;
  width: 48.9%;
  height: 23.3vw;
  position: absolute;
  top: 24.5vw;
  left: 42.4vw; }

#weatherMessage * {
  padding: 0.4em;
  margin: 0; }

#weatherMessage {
  font-family: 'VT323', sans-serif;
  color: white;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  z-index: 99; }

#weatherMessage h1 {
  font-size: 3vw;
  text-align: center; }

#weatherMessage h2 {
  font-size: 2vw;
  text-align: center; }

#weatherMessage h3 {
  font-size: 1.5vw;
  text-align: center; }

#quote {
  position: relative; }

#quoteMessage {
  background-color: #369efb;
  z-index: 300;
  transition: 1s;
  display: none;
  width: 48.9%;
  height: 23.3vw;
  position: absolute;
  top: 48.8vw;
  left: 0.4vw; }

#quoteMessage * {
  padding: 0.4em;
  margin: 0; }

#quoteMessage {
  font-family: 'VT323', sans-serif;
  color: white;
  z-index: 99; }

#quoteMessage h1 {
  font-size: 3vw;
  text-align: center; }

#quoteMessage h2 {
  font-size: 2vw;
  text-align: center; }

#quoteMessage h3 {
  font-size: 1.5vw;
  text-align: center; }

#battle {
  position: relative; }

#battleMessage {
  background-color: white;
  z-index: 300;
  transition: 1s;
  display: none;
  width: 48.9%;
  height: 23.3vw;
  position: absolute;
  top: 48.8vw;
  left: 42.5vw; }

#battleMessage * {
  padding: 0.4em;
  margin: 0; }

#battleMessage {
  font-family: 'VT323', sans-serif;
  color: grey;
  z-index: 99; }

#battleMessage h1 {
  font-size: 3vw;
  text-align: center; }

#battleMessage h2 {
  font-size: 2vw;
  text-align: center; }

#battleMessage h3 {
  font-size: 1.5vw;
  text-align: center; }

#video {
  float: left; }

@media screen and (min-width: 769px) and (max-width: 992px) {
  #video {
    float: left; }
  video {
    float: top;
    margin-bottom: -5px;
    min-height: 150px;
    min-width: 150px;
    width: 100%;
    height: 33%; }
  #stackStoreMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: black;
    z-index: 300;
    top: 94.4vw;
    left: .4vw;
    text-align: center; }
  #refineryMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: #15cfa0;
    z-index: 300;
    top: 47.4vw;
    left: .4vw;
    text-align: center; }
  #NYGMessage {
    background-color: #45c3fe;
    z-index: 300;
    transition: 1s;
    display: none;
    width: 99%;
    height: 48.3vw;
    position: absolute;
    top: 190.5vw;
    left: 0.4vw; }
  #weatherMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: #021f86;
    z-index: 300;
    top: 141.5vw;
    left: .4vw;
    text-align: center; }
  #quoteMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: #369efb;
    z-index: 300;
    top: 189.4vw;
    left: .4vw;
    text-align: center; }
  #battleMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: white;
    z-index: 300;
    top: 237.4vw;
    left: .4vw;
    text-align: center; } }

@media screen and (max-width: 768px) {
  #video {
    float: left; }
  video {
    float: top;
    margin-bottom: -5px;
    min-height: 150px;
    min-width: 150px;
    width: 100%;
    height: 33%; }
  #stackStoreMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: black;
    z-index: 300;
    top: 94.4vw;
    left: .4vw;
    text-align: center; }
  #refineryMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: #15cfa0;
    z-index: 300;
    top: 47.4vw;
    left: .4vw;
    text-align: center; }
  #NYGMessage {
    background-color: #45c3fe;
    z-index: 300;
    transition: 1s;
    display: none;
    width: 99%;
    height: 48.3vw;
    position: absolute;
    top: 190.5vw;
    left: 0.4vw; }
  #weatherMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: #021f86;
    z-index: 300;
    top: 141.5vw;
    left: .4vw;
    text-align: center; }
  #quoteMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: #369efb;
    z-index: 300;
    top: 189.4vw;
    left: .4vw;
    text-align: center; }
  #battleMessage {
    transition: 1s;
    display: none;
    position: absolute;
    width: 99%;
    height: 48.3vw;
    background-color: white;
    z-index: 300;
    top: 237.4vw;
    left: .4vw;
    text-align: center; } }
