html,
body {
  font-family: 'Lato', sans-serif;
  background-color: #FFF; }

#main-wrapper {
  width: 100%; }

.top-bar {
  height: 2em;
  width: 90%;
  margin: auto; }

ul.top-bar-buttons-right li {
  display: inline;
  width: auto;
  margin-left: 1em;
  float: right; }

li a {
  text-decoration: none !important; }

.top-bar-icon-left {
  display: inline;
  float: left; }

.section1 {
  background-image: url("../img/section1BG.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 75vh; }

.section1-text-box-left {
  color: #32526E;
  font-size: 1em;
  float: left;
  width: 30vw;
  height: 30vh;
  margin-top: 15vw; }

.section1-text-box-right {
  text-align: center;
  background-color: white;
  font-size: 1.5rem;
  float: right;
  margin-right: 10vw;
  width: 30vw;
  height: 30vh;
  margin-top: 15vw;
  box-shadow: 5px 5px 5px 5px #B2AFAF;
  border-radius: 10px;
  overflow: auto; }

.section1-text-box-right-button {
  margin-top: 10vh;
  border: none;
  color: white;
  height: 4vh;
  width: 15vw;
  background-color: #5DB586;
  border-radius: 20px; }

.section2 {
  background-image: url("../img/section2BG.png");
  background-repeat: no-repeat;
  background-size: 110% 90%;
  background-position: top;
  width: 100vw;
  height: 80vw;
  overflow: hidden; }

.section2-text-box-left {
  border: 1px solid red;
  display: inline-block;
  color: #32526E;
  font-size: 1.3em;
  text-align: center;
  margin-top: 10vh;
  margin-left: 10vh;
  height: 20vw;
  width: 30vw; }

.section2-text-box-right {
  border: 1px solid blue;
  display: inline-block;
  color: #32526E;
  font-size: 1.3em;
  text-align: center;
  margin-top: 10vh;
  margin-left: 25vw;
  height: 20vw;
  width: 30vw; }

.section2-partners,
.section2-press {
  margin-top: 5vh;
  height: 20vh; }

.section2-user-review-wrapper {
  overflow-y: auto;
  border: 4px solid white;
  margin: auto;
  margin-top: 10vw;
  vertical-align: middle;
  height: 15vw;
  width: 70vw; }

.section2-user-review-previous {
  float: left; }

.section2-user-review-next {
  float: right; }

.section2-user-review-buttons {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari, Opera, and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
  color: white;
  vertical-align: middle;
  height: 99%;
  border: 1px solid red;
  font-weight: 100;
  font-size: 3.5em; }

.section2-user-reviews {
  display: table;
  text-align: center;
  background-image: url("../img/quotes.png");
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
  overflow-y: auto;
  height: 100%;
  width: 100%; }

.section2-user-review-text-scroll {
  overflow-y: auto; }

.section2-user-review-text {
  margin: auto;
  vertical-align: middle;
  color: #32526E;
  display: inline-block;
  width: 30vw;
  margin-top: 2vw; }

.section3 {
  height: 100vh;
  width: 100vw; }

.section3-top-text {
  color: #32526E;
  font-size: 1.2em;
  display: block;
  min-width: 100vw;
  text-align: center; }

.section3-description1,
.section3-description2,
.section3-description3 {
  color: #32526E;
  font-size: 1.2em;
  margin-left: 1vw;
  display: inline-block;
  width: 32vw;
  text-align: center; }

.carousel {
  padding: 20px;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .carousel > * {
    flex: 0 0 auto; }
  .carousel figure {
    margin: 0;
    width: 40%;
    transform-style: preserve-3d;
    transition: transform 0.5s; }
    .carousel figure img {
      width: 100%;
      box-sizing: border-box;
      padding: 0 0px; }
      .carousel figure img:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0; }
  .carousel nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0; }
    .carousel nav button {
      flex: 0 0 auto;
      margin: 0 5px;
      cursor: pointer;
      color: #333;
      background: none;
      border: 1px solid;
      letter-spacing: 1px;
      padding: 5px 10px; }
